.container{
  position: absolute;
  width: 75%;
  /* top:50%; */
  top:0;
  left:50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-pane{
  width: 100px;
  object-fit: contain;
}

.right-pane{

}