.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.smoked-font{
  color: #9ea7ae;
  font-weight: 400;
}